@utility container {
    margin-inline: auto;
    padding-inline: 1rem;

    @media (min-width: 640px) {
        padding-inline: 1.5rem;
    }

    @media (min-width: 768px) {
        padding-inline: 2rem;
    }

    @media (min-width: 1024px) {
        padding-inline: 3rem;
    }

    @media (min-width: 1280px) {
        padding-inline: 4rem;
    }

    @media (min-width: 1536px) {
        padding-inline: 5rem;
    }
}
